@media (max-width: 991px) {
	html{
		font-size: 20px;
	}
    .container {
        max-width: 960px;
        padding: 0 20px;
    }
    .about{
    	&__img{
    		width: 300px;
    	}
    	&__description{
    		max-width: 56%;
    	}
    }
    .portfolio{
    	&__img{
    		height: 288px;
    	}
    	&__info{
    		height: 288px;
    	}
    }
    .team{
    	&__card-box{
    		flex-wrap: wrap;
    	}
    	&__how-number{
    		width: 50px;
    		height: 50px;
    	}
    }
    .swiper-container{
    	width: 700px;
    	height: 500px;
    }
    .reviews{
    	&__item{
    		flex-direction: column;
    	}
    	&__item-content{
    		margin-bottom: 30px;
    	}
    	&__item-img-box{
    		width: 100%;
    		display: flex;
    		justify-content: space-between;
    	}
    	&__item-img{
    		width: 49%;
    		margin-bottom: 0;
    	}
    }
}